{% extends "base.html" %}
{%block title%} 
	{% if user.full_name %}
		{{user.full_name }} | Shared Medical Records
	{% else %}
		Shared Medical Records
	{% endif %}
{% endblock %}

{% block content %}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Medical Book</a>
	    </div>
	    <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
	        <li><a href="#about">About</a></li>
	    
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li><a href="#">Welcome {{user.full_name}} <span class="glyphicon glyphicon-user"></span></a></li>
            <li><a href="{% url 'facility:logout_user' %}">Log out <span class="glyphicon glyphicon-log-out"></span></a></li>
          </ul>
		<form class="navbar-form navbar-right" id="search-form" role="search" method="get" action="{% url 'facility:search' %}">
			<div class="form-group">
			{{ search_form }}
			</div>
		<button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
		</form>
	    </div><!--/.nav-collapse -->
  </div>
</div>


<div class="container-fluid">
	<div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#addConditionModal" data-toggle="modal">Add Condition</a></li>
            <li><a href="{% url 'facility:add_patient' %}">Add new patient</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
      	</div>
      	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			{%if messages %}
				{% for message in messages %}
					{% if message.tags == 'info' %}
					<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<ul>
				<li><strong><center><span class="glyphicon glyphicon-ok-sign"></span> {{ message }}</center></strong></li>
					</ul>
					</div>
					{% elif message.tags == 'error' %}
						<div class="alert alert-danger alert-dissmissable">
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<ul>
						<li><strong><center><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</center></strong></li>
						</ul>
						</div>
					{% endif %}
				{% endfor %}
					
			{% endif %}


			{% if found_patient %}
				{% include 'facility/search.html' %}
			{% elif patient_obj %}
				{% include 'facility/alternate_patient_result.html' %}
			{% elif patients_list %}
				{% include 'facility/patients_list.html' %}
			{% elif form and condition_form %}
				{% include 'facility/patient_form.html' %}
			{% elif form %}
				{% include 'facility/patient_form.html' %}
			{% elif update_form%}
				{% include 'facility/patient_form.html' %}
			{% elif patient_details%}
				{% include 'facility/details.html'%}
			{% endif %}



			<!-- Modal -->
			<div class="modal fade" id="addConditionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="myModalLabel">Add Medical Condition</h4>
			      </div>
			      <div class="message"></div>
			      <div class="modal-body" id="conditionDiv">
			        <form action="{% url 'facility:condition' %}" method="post"  class="form-horizontal home-form" role="form" id="conditionForm">
				        {% csrf_token %}
				        {{ condition_form.as_p }}
					
						<div id="loading" style="display:none;">
						    <span id="load_text">loading...</span>
						</div>
						<div id="form_ajax" style="display:none;">
						    <span>Condition was successfully added.</span>
						</div>
						<div id="form_ajax_error" style="display:none;">
						    <span>Can not submit data due to errors.</span>
						</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" id="closeButton" data-dismiss="modal">Close</button>
			        <button type="submit" class="btn btn-primary">Save Condition</button>
			        </form> 
			      </div>
			    </div>
			  </div>
			</div>
	    </div>
	</div>
</div>


{% endblock %}